PowerShellController.exe
convert.bat
AllCS.txt
Copilotプロンプト.txt
convert.bat
*.pdb
bin/
obj/
backup/
out_md/
etc/
macros/bak/
GitHubリカバリコード/
macros/Automation/EdgeProfile
macrosAutomation/Data
macros/Automation/backup
